.filter{
    cursor: pointer;
}
.filter_input{
    display: none;
}
.filter_input:checked ~ .filter_display::after,
.filter_input:checked ~ .filter_display::before{
    transform:scaleX(0);

}
.filter_display{
    position: relative;
    pointer-events: none;
    text-transform: capitalize;
}

.filter_display::after{
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    top:10%;
    height: 1px;
    background: var(--accent-color);
    transform-origin: left;
    transform: scaleX(1) rotate(15deg);
    transition: transform .2s;
}

.filter_display::before{
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    top:10%;
    height: 1px;
    background: var(--accent-color);
    transform-origin: right;
    transform: scaleX(1) rotate(-15deg);
    transition: transform .2s .1s;
}

