.main {
  margin-inline: var(--size-fluid-2);
}
.projectsWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 18rem);
  justify-content: space-around;
  margin-block: var(--size-7);
  justify-items: center;
  gap: var(--size-7) var(--size-3);
  perspective: 1000px;
}
