.contactCard{
    width:min(100%,var(--size-fluid-10));
    margin: var(--size-10) auto;
    background-color: var(--surface-2);
    padding: var(--size-3);
    box-shadow:var(--shadow-4);
    display: flex;
    flex-direction: column;
    gap:var(--size-3);
    color:var(--neutral-color);
}
.contactCard_title{
    font-size: var(--font-size-5);
}
.contactCard_list{
    list-style: none;
    display:flex;
    flex-direction:column;
    gap: var(--size-3);
}
.contactCard_link{
    color:var(--accent-color);
    display: flex;
    align-items: center;
    gap: var(--size-2);
}
.contactCard_icon{
    fill:var(--neutral-color);
    height: var(--size-3);
    width: var(--size-3);
}