.tagList {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: var(--size-3);
}

.tagList_btn {
  position: relative;
  background: none;
  color: var(--neutral-color);
  border: 0;
  cursor: pointer;
}

.tagList_btn:hover {
    animation: var(--animation-shake-x);
}

.tagList_btn::after,
.tagList_btn::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background: var(--warning-color);
  transform: scaleX(0);
  transition: transform 0.2s;
}

.tagList_btn::after {
  --rotation: 18deg;
  transform-origin: center;
}

.tagList_btn::before {
  --rotation: -15deg;
  transform-origin: center;
  transition-delay: 0.1s;
}

.tagList_btn-active::before,
.tagList_btn-active::after {
  transform: scaleX(1) rotate(var(--rotation));
}
