.nav_link + .nav_link::before {
  content: "";
  position: absolute;
  left: calc(-1 * var(--size-3));
  width: 1px;
  height: 100%;
  background-color:var(--neutral-color);
  font-size: var(--font-size-2);
}

.nav{
  display: flex;
  gap:var(--size-6)
}

.nav_link {
  position: relative;
}

.nav_link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: var(--accent-color);
  transform: scaleX(0);
}


.nav_link-current::after {
  animation: underlineNavLinkAnim .2s forwards;
}

.nav_link:hover {
  color: var(--accent-color);
}

@keyframes underlineNavLinkAnim {
  to {
    transform: scaleX(1);
  }
}
