.nav_link + .nav_link {
  padding-left: 1rem;
  margin-left: 1rem;
  position: relative;
  border-left: 1px solid var(--neutral-color);
}

.nav_link {
  position: relative;
}

.nav_link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: var(--accent-color);
  transform: scaleX(0);
}

.nav_link + .nav_link::after {
  left: 1rem;
}

.nav_link-current::after {
  animation: underlineNavLinkAnim .2s forwards;
}

.nav_link:hover {
  color: var(--accent-color);
}

@keyframes underlineNavLinkAnim {
  to {
    transform: scaleX(1);
  }
}
