.themeSwitch {
  --sun-scale: 1;
  --sun-stroke: currentColor;
  --sun-rot: 0;
  --moon-scale: 0;
  --moon-rot: 90deg;
  color: var(--oc-yellow-5);
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  line-height: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .themeSwitch {
    --sun-scale: 1;
    --sun-stroke: currentColor;
    --sun-rot: 0;
    --moon-scale: 0;
    --moon-rot: 90deg;
    color: var(--oc-yellow-5);
  }
}

[theme="light"] .themeSwitch {
  --sun-scale: 1;
  --sun-stroke: currentColor;
  --sun-rot: 0;
  --moon-scale: 0;
  --moon-rot: 90deg;
  color: var(--oc-yellow-5);
}

[theme="dark"] .themeSwitch {
  --sun-scale: 0;
  --sun-rot: 0;
  --sun-stroke: none;
  --moon-scale: 1;
  --moon-rot: 0;
  color: var(--oc-indigo-9);
}

.themeSwitch_icon {
  transition: transform 0.3s, color 0.5s;
}
.themeSwitch_icon-sun {
  transform: scale(var(--sun-scale)) rotate(var(--sun-rot));
  stroke: var(--sun-stroke);
}
.themeSwitch_icon-moon {
  position: absolute;
  left: 0;
  transform: scale(var(--moon-scale)) rotate(var(--moon-rot));
}
