.themeSwitch {
  position: absolute;
  right: 1rem;
  top: .5rem;
  line-height: 0;
  background-color: transparent;
  border: 0;
  color: var(--oc-indigo-7);
  cursor: pointer;
}
[data-theme="light"] {
  color: var(--oc-yellow-6);
}
.themeSwitch_icon {
  transition: transform 0.3s, color 0.5s;
  image-rendering: crisp-edges;
}
[data-theme="light"] .themeSwitch_icon-sun {
  transform: scale(1) rotate(45deg);
  stroke: currentColor;
}

[data-theme="light"] .themeSwitch_icon-moon {
  transform: scale(0) rotate(45deg);
}
.themeSwitch_icon-sun {
  transform: scale(0);
}
.themeSwitch_icon-moon {
  position: absolute;
  left: 0;
}
