---
import getProjets from "../api/getDatas";
import Card from "../components/Card";
import SvgFilter from "../components/SvgFilter.astro";
import TagsList from "../components/TagsList";
import Layout from "../layouts/Layout.astro";

const projets = await getProjets();
---

<Layout title="Achtaitaipai | Accueil" pageCategory="projets">
    <TagsList client:load />
    <div class="projectsWrapper">
      {projets.map((el) => <Card project={el} client:load />)}
    </div>
    <SvgFilter />
</Layout>
