---
import Nav from "../Nav/index.astro";
import ThemeSwitch from "../ThemeSwitch";
import CustomLink from "../CustomLink"
export interface Props {
  pageCategory: string;
}

const { pageCategory } = Astro.props as Props;
---

<header class="header">
  <h1 class="header_title">
    <CustomLink href ="/" value="Achtaitaipai" className="header_link"/>
  </h1>
  <Nav currentPage={pageCategory} />
  <ThemeSwitch client:load />
</header>
