:root{
	--font-mono: Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF Mono, Monaco, Droid Sans Mono, Source Code Pro, monospace;

	--surface-1:var(--oc-gray-0);
	--surface-1:var(--oc-gray-2);
	--shadow-1:0px 2px 2px 0px hsla(0,0%,0%,0.14), 
	0px 3px 1px -2px hsla(0,0%,0%,0.12), 
	0px 1px 5px 0px hsla(0,0%,0%,0.2);

	--shadow-2:0px 4px 5px 0px hsla(0,0%,0%,0.14), 
	0px 1px 10px 0px hsla(0,0%,0%,0.12), 
	0px 2px 4px -1px hsla(0,0%,0%,0.2);

	--accent-color:var(--oc-indigo-9);
	--neutral-color:var(--oc-gray-9);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}
a{
	text-decoration: none;
	color:inherit;

}
body {
	font-family:var(--font-mono);
	background-color: var(--surface-1);
}


