---
import "open-color/open-color.css";
import Header from "../components/Header/index.astro";
import "../style/style.css";
export interface Props {
  title: string
  pageCategory:string
}

const { title,pageCategory } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Des jeux, des outils et autres bidules. Les bricolages numériques d'Achtaitaipai"
    />
    <title>{title}</title>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" defer></script>

  </head>
  <body>
    <Header pageCategory={pageCategory} />
    <main class="main">
      <slot />
    </main>

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
