:root {
  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-2);
  --neutral-color-light: var(--gray-9);
  --accent-color-light: var(--blue-9);
  --warning-color-light: var(--red-9);
  --surface-shadow-light: 200 10% 20%;
  --shadow-strength-light: 2%;

  --surface-1-dark: var(--gray-9);
  --surface-2-dark: var(--gray-8);
  --neutral-color-dark: var(--gray-3);
  --accent-color-dark: var(--blue-3);
  --warning-color-dark: var(--red-3);
  --surface-shadow-dark: 200 50% 3%;
  --shadow-strength-dark: 80%;
}

html {
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --neutral-color: var(--neutral-color-light);
  --accent-color: var(--accent-color-light);
  --warning-color: var(--warning-color-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

@media (prefers-color-scheme: dark) {
  html {
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --neutral-color: var(--neutral-color-dark);
    --accent-color: var(--accent-color-dark);
    --warning-color: var(--warning-color-dark);
	--surface-shadow: var(--surface-shadow-dark);
	--shadow-strength: var(--shadow-strength-dark);
  }
}

[theme="dark"] {
  --surface-1: var(--surface-1-dark);
  --surface-2: var(--surface-2-dark);
  --neutral-color: var(--neutral-color-dark);
  --accent-color: var(--accent-color-dark);
  --warning-color: var(--warning-color-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
}

[theme="light"] {
  --surface-1: var(--surface-1-light);
  --surface-2: var(--surface-2-light);
  --neutral-color: var(--neutral-color-light);
  --accent-color: var(--accent-color-light);
  --warning-color: var(--warning-color-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}
